/* USED ACROSS ALL PAGES */
html{
    font-family: "Arial", "Helvetica", "sans-serif";
    background-color: #051014;
}

h1, h2, h3 {
    font-family: "Rockwell", "Courier Bold", "Courier", "Georgia", "Times", "Times New Roman", "serif";
}


body{
    font-size: 16px;
    color: #A599B5;
}

.underline{
    color: #fff;
    text-decoration: underline;
}

nav ul{
    list-style-type: none;
    background-color: #1A2022;
    border: 2px solid #2E2F2F;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}


nav li{
    flex: 3;
    text-align: center;
}

nav li a {
    padding: 0.5em 1em;
    display: block;
    color: #666;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}

nav li a.active{
    background-color: #2E2F2F;
    color:white;
}

nav li a:hover{
    background-color: #6a6472;
    color:white;
}

/* INDEX PAGE */

header img {
    margin-left: 33%;
    width: 66%;
    height: 250px;
    object-fit: cover;
    border-radius: 4px;
}

.intro{
    margin: 20px;
    
}

.intro ul {
    margin-left: 20px;
    line-height: 1.6;
}


.bold{
    font-weight: bold;
}


footer{
    margin-top: 240px; /* Forces the footer to the bottom of the page */
    padding: 20px;
    font-weight: bold;
    border-top: 2px solid #fff;
    background-color: #4E4954;
}

/*GIFTCARD PAGE*/

/* This organises the Input onto the left side of the page
    and the summary to the right side */
.page-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.left{
    flex:1.5;
}

.right{
    flex:1.25;
    
}


/* giftcard inputs */

.giftcard-header{
    padding-left: 20px;
    color: #fff;
}

.form-row {
    display: flex;
    gap: 5%;
    padding-left: 20px;
}

.form-group{
    width: 300px;
    background-color: #1A2022;
    color: #CDDDDD;
    padding: 10px;
}

.form-group input {
    width: 65%;
    padding: 10px;

}

.form-group p {
    background-color: #2E2F2F;
    width: 65%;
    padding: 10px;
    font-size: 0.75rem;
}

.labelname{
    font-size: 1.2rem;
}

.deli-header{
    padding: 20px;
    color: #fff;
}

.deli-options{
    display: flex;
    gap: 5%;
}

.option{
    padding-left: 20px;
    font-size: 1.2rem;
    color: #BDCDCC;
}

/* buttons */

.buttons{
    padding-top: 20px;
    padding-left: 33%;
    display: flex;
    gap: 5%;
    
}

.calculate{
    padding: 20px;
    background-color: #4C4A51;
    font-family: Arial;
    font-size: 1.2rem;
}

.reset{
    padding: 20px;
    background-color: #ACBDBA;
    font-family: Arial;
    font-size: 1.2rem;
    
}

/* Summary */

.summary-header{
    color: #fff;
}

.total-p{

    margin-top: 75px;
    color: #fff;
    font-weight: 700;
}

.total-text{
    
    font-size: 2rem;
}

.summary{

    font-size: 1.25rem;
    line-height: 3;
}

.summary p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20%;
}

/* BOOK PAGE */

.book-search{
    padding: 20px;
}

.book-title{
    color: #fff;
    padding-bottom: 20px;
}

.search-input{
    width:200px;
    padding: 10px;
}

.search-btn{
    margin-top: 30px;
    padding: 20px;
    background-color: #4C4A51;
    font-family: Arial;
    font-size: 1rem;
}

.result-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* This puts the output into 2 columns instead of one long list */

    width: 100%;
    background-color: #2E2F2F;
    color: #CDDDDD;
    padding: 10px;
    margin-top: 10px;
}

.book-item{
    margin-top: 10px;
    margin-right: 10px;
    background-color: #1A2022;
    padding: 10px;

}

.author{
    font-weight: bold;
}

@media screen and (max-width:1000px) {

    /* collapses the menu for mobile mode */
    nav ul {
    flex-direction: column;
    width: 50%;

    }
    nav li {
    text-align: left;
    }


    header img {
    margin-left: 0%;
    width: 100%;
    }   

    .page-wrapper{
        flex-direction: column;
    }

    .form-group{
        width:200px;
    }

    .right{
        margin-left: 20px;
    }

    .summary{
        font-size: 1.1rem;
        line-height: 1.4;
    }

    .total-p{
        margin-top: 0;
    }
    
    .result-list{
        grid-template-columns: 1fr; /* changes the columns back to one because it doesn't look good on mobile */
    }
 
}